[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
keyboard = "*"
pytesseract = "*"
opencv-python = "*"
numpy = "==1.19.3"
pandas = "*"
pyperclip = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
